streamlit
transformers
torch
sentence-transformers
faiss-cpu
numpy
requests
python-dotenv
mcp
tavily-python
jq
langchain==0.3.7
langchain-core==0.3.4
langchain-community==0.3.3
langchain-google-genai==1.2.3
