streamlit
transformers
torch
sentence-transformers
faiss-cpu
numpy
requests
python-dotenv
mcp
tavily-python
jq

langchain==0.3.9
langchain-core==0.3.43
langchain-community==0.3.9
langchain-google-genai==2.1.0
